#!/usr/bin/env bash

# Bring up wlan0
ifup wlan0

# Set up OpenSSH server
systemctl start ssh.service
systemctl enable ssh.service

# Set up LANG
grep -q "LANG=en_GB" ~ansible/.bashrc || echo "export LANG=en_GB.UTF-8" >> ~ansible/.bashrc
